body {
    background-color: lightgrey;
}


.paper {
    width: 1000px;
    margin: auto;
    background: #fff;
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding: 30px;
  }

.inputBox{
    padding: 10px;
}  

.inputBox > input {
    font-size: 30px;
    border: none;
}

.inputBox > input:focus{
    border: none;
    outline: none;
}

.taskbox{
    padding: 10px;
    display: flex;
    justify-content: space-between;
} 

.task{
    font-size: 30px;
}

.taskbox > button {
    visibility: hidden;
}

.taskbox:hover{
    background-color: darkgray;
}

.taskbox:hover > button{
    visibility: visible;
    width: 50px;
    height: 50px;
    align-self: center;
    font-size: 30px;
    text-align: center;
    background-color: darkgray;
    border: none;
}